public net.minecraft.client.world.DimensionRenderInfo f_108857_ # field_239208_a_
public  net.minecraft.entity.Entity field_242273_aw #portalCooldown

# Used in Teleporter, looks to be the old isChunkGeneratedAt method
public net.minecraft.world.server.ChunkManager m_140425_(Lnet/minecraft/util/math/ChunkPos;)Z

public net.minecraft.server.level.ChunkMap m_27055(Lnet/minecraft/world/level/ChunkPos;)Z #isExistingChunkFull

public-f net.minecraft.world.gen.feature.structure.Structure f_67031_ #LAND_TRANSFORMING_STRUCTURES
public net.minecraft.client.renderer.DimensionSpecialEffects f_108857_  #EFFECTS
public net.minecraft.world.entity.Entity f_6018 #portalCooldown